* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    animation: rotate 2s linear infinite;
}
